<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        
     <!----  <h1>built_in_filters</h1>
        <h2>{{data}}</h2>
        <h3>{{data|upper}}</h3>
        <h3>{{data|lower}}</h3>
        <h3>{{data|capfirst}}</h3>
        <h3>{{data|title}}</h3>
        <h3>{{data|length}}</h3>
        <h3>{{data|truncatewords:'3'}}</h3>
        <h3>{{data|truncatechars:'5'}}</h3>
        <h3>{{data|slice:'5'}}</h3>
    ---->
    <h2>{{dt|date:'Y M'}}</h2>
    <h2> i have {{c}} foodball{{c|pluralize}}</h2>
    <h2> i want {{c}} mango{{c|pluralize:'es'}}</h2>
    <h2> this  {{c}} bat {{c|pluralize}} {{c|pluralize:'is,are'}} mine</h2>



    </center>
</body>
</html>